.tool{
    color: rgb(17, 17, 17);
	max-width: 740px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
	padding: 40px;
	margin: 65px auto 45px;
	border-radius: 4.5px;
}
.icon{
    padding:10px;
}
blockquote {
	font-size: 1.4em;
	width: 80%;
	margin: 50px auto;
	font-family: Open Sans;
	font-style: italic;
	color: #555555;
	padding: 1.2em 30px 1.2em 75px;
	border-left: 8px solid #9d7ff2;
	line-height: 1.6;
	position: relative;
	background: #ededed;
}

a {
	color: #9d7ff2;
}

blockquote::before {
	font-family: Arial;
	content: '\201C';
	color: #9d7ff2;
	font-size: 4em;
	position: absolute;
	left: 10px;
	top: -10px;
}

blockquote::after {
	content: '';
}

blockquote span {
	display: block;
	color: #333333;
	font-style: normal;
	font-weight: bold;
	margin-top: 1em;
}

.App {
	color: rgb(17, 17, 17);
	max-width: 740px;
	/* background-color: rgb(255, 255, 255); */
	box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
	padding: 40px;
	margin: 15px auto 45px;
	border-radius: 4.5px;
}
.AppBar{
    /* max-width:740px;
    padding-top:0px;
    margin:65px auto 45px; */
    background-color: #555555;
    border-radius: 5px;
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    /* height:30px; */
}

.format-toolbar {
	display: flex;
	border-bottom: solid 1.7px rgba(199, 198, 255, 0.15);
	padding: 10px 0;
	margin: 0 0 20px 0;
}

.tooltip-icon-button {
	cursor: pointer;
	border: 0;
    justify-content: space-around;
    padding: 10px;
    background-color: #555555;
} 